body{
	margin:0;
	padding:0;
	background:#fff url(../images/bgHeader.gif) repeat-x;
        
}
img{
	display:block;
	border:none;
}
h2,h4,h5,h6,p,div,td,a{
	font-family:"Trebuchet MS", Arial, Verdana !important;
	font-size:13px;
	line-height:18px;
	color:#4c4c4c;
}
a{
	color:#4a9a3c;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.setinha{
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
}
h2{
	font-size:21px;
	font-weight:bold;
	color:#fff;
	background:#82b9e0;
	margin:0;
	padding:5px 0 7px 8px;
}
h4{
	font-size:18px;
	color:#5c9fcf;
	margin:15px 0 0;
	padding:0;
}
h5{
	font-size:14px;
	font-weight:bold;
	color:#5c9fcf;
	margin:0 0 6px;
	padding:18px 0 0;
}
p{
	margin:8px 0 18px;
	padding:0;
	color:#4c4c4c !important;
	font-size:13px !important;

}
.esq{
	float:left;
}
.dir{
	float:right;
}
.clear{
	clear:both;
}
.fotoNoticiaInterna{
	margin:7px 20px 0 0;
}
.imagemInternas{
	margin:10px 0 10px 20px;
}
#container{
	width:960px;
	margin:0 auto;
}
#miolo{
	border-top:5px #b0d4ee solid;
	border-bottom:2px #cde3f3 solid;
	margin:2px 0 0;
	padding:60px 0 75px;
}
#menuLateral{
	float:left;
	width:200px;
}
#menuLateral ul{
	list-style:none;
	margin:0;
	padding:0;
}
#menuLateral ul li{
	margin:0 0 2px;
	padding:0;
	border-bottom:1px solid #cecece;
	/*background:url(../images/bgPontilhadoHorizontal.gif) repeat-x 0 100%;*/
}
#menuLateral ul li h3{
	font-size:14px;
	font-weight:bold;
	line-height:18px; /*line-height:30px;*/
	/*color:#595959;*/
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	background:#e5e5e5 url(../images/imgSetinhaBaixo.gif) no-repeat 2px 14px;
	margin:0;
	padding:6px 0 6px 12px; /*padding:0 0 0 12px;*/
}
#menuLateral ul li h3:hover{
	background:url(../images/imgSetinhaBaixo.gif) no-repeat 2px 14px #c5e0f3;
}

#menuLateral ul li a{
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	/*color:#595959;*/
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	background:#e5e5e5 url(../images/imgSetinhaDireita.gif) no-repeat 4px 12px;
	margin:0;
	padding:0 0 0 12px;
}
#menuLateral ul li a:hover{
	background:url(../images/imgSetinhaDireita.gif) no-repeat 4px 12px #c5e0f3;
}
#menuLateral ul li div a{
	/*color:#5c9fcf;*/
	color:#000;
	font-size:12px;
	/*font-weight:normal;*/
	font-weight:bold;
	line-height:18px;
	background:none;
	text-transform:none;
}
#menuLateral ul li div a:hover{
	background:url(../images/imgSetinhaDireita.gif) no-repeat 4px 6px #e0eff9;
}
#menuLateral ul li div ul{
	padding:0 0 0 12px;
}
#menuLateral ul li div ul li{
	border-bottom:none;
	margin:0;
	padding:0;
	background:url(../images/bgPontilhadoHorizontal.gif) repeat-x 0 100%;
}
#menuLateral ul li div ul li a{
	/*color:#999999;*/
	color:#000;
	font-weight:bold;
	background:none;
	line-height:14px;
	padding-top:2px;
	padding-bottom:3px;
}
#menuLateral ul li div ul li a:hover{
	background-color:#efefef;
}
header{
    float: none;
}
footer ul{
  
    text-align:  center; 
    background: #F2F2F2;
    list-style: none;
    display: inline-flex;
}

footer li{
    margin-left: 20px;
}
.setaBaixo{
	background:url(../images/imgSetinhaBaixo.gif) no-repeat 0 15px;
}
.setaDireita{
	background:url(../images/imgSetinhaDireita.gif) no-repeat 100% 12px;
}
#conteudo{
	float:right;
	width:720px;
}
#conteudo{
text-align:justify;
}
.fotoMateria{
	float:right;
	margin:0;
	padding:21px 0 30px 33px;
	width:266px;
	overflow:hidden;
}
.legenda{
	font-size:11px;
	line-height:14px;
	color:#999999;
	margin:4px 0 0;
	padding:0;
}
.listaLinks{
	margin:0;
	padding:0;
	list-style:none;
}
.listaLinks li{
	margin:0;
	padding:0 0 6px 13px;
	background:url(../images/imgSetinhaListaVerde.gif) no-repeat 0 6px;
}
.listaComum{
	margin:0px 0px 0px 15px;
	padding:0;
	list-style:none;
}
.listaComum li{
	margin:0;
	padding:0 0 6px 13px;
	background:url(../images/imgSetinhaListaAzul.gif) no-repeat 0 6px;
}
.listaVazia{
	margin:0px;
	padding:0;
	list-style:none;
}
.listaVazia li{
	margin:0;
	padding:0;
	background:none;
}
#iconesRodape{
	list-style:none;
	margin:20px 0 0 160px;
	padding:0;
}
#iconesRodape li{
	float:left;
	margin:0 107px 0 0;
	padding:0;
}
#iconesRodape li.last{
	margin:0;
	padding:0;
}
#rodape{
	background:#82b9e0;
	margin:20px 0 30px;
	padding:10px;
}
#rodape div{
	color:#fff;
	font-size:12px;
}
#rodape a{
	color:#fff;
	text-decoration:underline;
}
p.dataNoticia{
	font-size:11px;
	line-height:14px;
	margin:20px 0 0;
	color:#999999;
}
p.tituloNoticia{
	margin:0 0 4px;
}
p.tituloNoticia a{
	font-size:15px;
	font-weight:bold;
}



/* ï¿½rea de login */
#login{
	background:url(../images/bgPontilhadoHorizontal.gif) repeat-x;
	margin:40px 0 0;
	padding:1px 0 0;
}
#login #titulo{
	background:#dfdfdf;
	color:#8f8f8f;
	font-size:14px;
	font-weight:bold;
	padding:0 0 0 12px;
	line-height:24px;
}
#login #campos{
	background:#eeeeee url(../images/bgPontilhadoHorizontal.gif) repeat-x 0 100%;
	color:#595959;
	padding:10px 0 10px 12px;
}
#login #campos .login{
	float:left;
	width:38px;
	margin:0 0 5px;
	font-size:12px;
	line-height:22px;
}
#login #campos .campoLogin{
	float:left;
	width:140px;
	margin:0 0 5px;
}
#login #campos .campoLogin input{
	border:1px solid #dadada;
	margin:0;
	padding:0;
	background:#fff;
	width:136px;
	height:18px;
	color:#7a7a7a;
	font-family:"Trebuchet MS", Arial, Verdana;
}
#login #campos .senha{
	float:left;
	width:38px;
	font-size:12px;
	line-height:22px;
}
#login #campos .campoSenha{
	float:left;
	width:113px;
}
#login #campos .campoSenha input{
	border:1px solid #dadada;
	margin:0;
	padding:0;
	background:#fff;
	width:104px;
	height:18px;
	color:#7a7a7a;
	font-family:"Trebuchet MS", Arial, Verdana;
}
#login #campos .botaoOk{
	float:left;
	width:27px;
}
#login #campos .botaoOk a{
	display:block;
	background:url(../images/btOk.gif) no-repeat;
	width:25px;
	height:20px;
	overflow:hidden;
	text-indent:-9999px;
}
#login #campos .botaoOk a:hover{
	background-position:0 -20px;
}
/* fim da ï¿½rea de login */





/* estilos de expansao */

.expandeMenu1,.expandeMenu2,.expandeMenu3,.expandeMenu4,.expandeMenu5,.expandeMenu6{
	width:200px;
	margin:0;
}
.expandeMenu1 h3,.expandeMenu2 h3,.expandeMenu3 h3,.expandeMenu4 h3,.expandeMenu5 h3,.expandeMenu6 h3{
	margin:0;
	cursor:pointer;
}
.expandeMenu1 div,.expandeMenu2 div,.expandeMenu3 div,.expandeMenu4 div,.expandeMenu5 div,.expandeMenu6 div{
	padding:0 0 10px 13px;
}

/* fim dos estilos de expansao */

#documentosTec{
	/*color:#5c9fcf;*/
	color:#000;
	font-size:12px;
	/*font-weight:normal;*/
	font-weight:bold;
	line-height:18px;
	background:none;
	text-transform:none;
}

.marcoResultado td,th,tr{border:1px solid #000; font-size:11px;  padding:7px}

th{
 background:#F2F2F2;
 text-align:center;
}


.componentes table, td, th, tr{border:none;}


#planoTurismo #menuLateral .planoTurismo,
#planoDesenv #menuLateral .planoDesenv,
#oPrograma #menuLateral .oPrograma,
#alinhamento #menuLateral .alinhamento,
#objetivos #menuLateral .objetivos,
#mop #menuLateral .mop,
#rop #menuLateral .rop,
#marcoResultado #menuLateral .marcoResultado,
#avaliacaoAmbiental #menuLateral .avaliacaoAmbiental,
#estudoViabilidade #menuLateral .estudoViabilidade,
#matriz #menuLateral .matriz,
#componentes #menuLateral .componentes,
#atribuicoes #menuLateral .atribuicoes,
#estrutura #menuLateral .estrutura,
#quem #menuLateral .quem,
#gerenciamento #menuLateral .gerenciamento,
#supervisao #menuLateral .supervisao,
#auditoria #menuLateral .auditoria,
#sistema #menuLateral .sistema,
#projetos #menuLateral .projetos,
#atividades #menuLateral .atividades,
#estudos #menuLateral .estudos,
#programa #menuLateral .programa,
#licitacao #menuLateral .licitacao,
#licitacaoConcluida #menuLateral .licitacaoConcluida,
#leis #menuLateral .leis,
#decretos #menuLateral .decretos,
#resolucoes #menuLateral .resolucoes,
#linksPernitentes #menuLateral .linksPernitentes,
#espacializacao #menuLateral .espacializacao,
#investimentos #menuLateral .investimentos{
	font-size:15px;
	cursor:default;
	padding-top:3px;
	padding-bottom:4px;
	background:url(../images/imgSetinhaDireita.gif) no-repeat 4px 6px #82b9e0;
}








.tabelaPadrao{
	width:100%;
}
.tabelaPadrao tr.titulo{
	background-color:#fff;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
}
.tabelaPadrao tr.subtitulos{
	background-color:#e5e5e5;
}
.tabelaPadrao tr td{
	font-size:12px;
	background:#fff;
}











