@media screen and (max-width:499px){

    header{
        display: none;
        position: relative;
        padding-top: 5%!important;
    }
    header h1{
        margin-bottom: 3vw;
        font-size: 8vw;
    }
    header h2{
        font-size: 6vw;
    }
    header h3{
        font-size: 4vw;
    }
    #div_logo{
        width: 70vw;   
        margin: auto;
    }
    #logo_header{
        width: 30vw;
    }
    #div_menuBtn{
        margin-top: 5px;
        padding: 5px;
        background-color: #e2e6ea;
        text-align: left;
    }
    #menu{
        /*display: block;*/
        margin: 10px;
        font-size: 9vw;
    }
    .nav{
        position: absolute;
        display: block;
        -webkit-transform: translate(-600px, 0);
        transform: translate(0, 0);
        transition: transform 0.3s ease;
        display: inline-table;
    } 
    .nav.open {
        margin-bottom: 10px;
        position: relative;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        transition: transform 0.3s ease;
        width: 100%;   
    }
    .nav a{    
        padding: 10px;
        font-family: 'Open sans', sans-serif !important;
        font-weight: 500;
        font-size: 11px;
    }
    .nav.open a{
        font-size: 13px;
        display: block;
    }

    iframe{
        width: 60vw;
        margin: 2vh;
    }
    .div_Imagens, .div_localizacao{
        padding: 2vh;
        margin-top: 2vh;
        text-align: center;
    }
    .fa-angle-left, .fa-angle-right{
        font-size: 6vw;
    }
    #imgId{
        width: 80%;
    }
    .div_mainQuemSomos{
        float: none;
        margin: 4vw 2vw;
    }
    #img_QuemSomos{
        float: right;
        width: 30vw;
        margin: 3vw;
    }

    .online-icon{
        vertical-align: top;
        width: 60%;
        float: right; 
    }

    .ideas-icon{
        display: none;
        width: 10%;
        float: right;
    }
    .atendimentos-online{
        margin-top: 8%;
    }
    .atendimentos-online img{
        margin-right: 2%;
    }

   .logo-image{
        width: 35%;
        margin-left: 1%;
    }

    .logo-text{
        width: 50%;
    }

    footer p{
        font-size: 12px !important;
        display:block !important;
    }

}   
